<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>aliaso</title>
	<link rel="icon" href="img/favicon.ico">
	<!-- CSS FILES -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.11/css/uikit.min.css">
	<link rel="stylesheet" type="text/css" href="css/cards.css">
</head>
<body>
	<div class="uk-offcanvas-content">
		<!--HEADER-->
		<header id="site-head">
			<div class="uk-container uk-container-expand">
				<div class="uk-grid uk-grid-medium uk-flex uk-flex-middle" data-uk-grid>
					<div class="uk-width-auto">
						<a href="#" class="uk-logo" title=""><img src="img/logo.png" alt=""></a>
					</div>
					<div class="uk-width-expand">
						<form action="/">
							<div class="uk-inline uk-width-1-1">
								<span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: search"></span>
								<input class="uk-input uk-width-1-1 search-fld" name='q' type="search" placeholder="Search...">
							</div>
						</form>
					</div>
					<div class="uk-width-auto">
						<ul class="uk-subnav" data-uk-margin>
							<li class="uk-visible@s"><a href="#">Home</a></li>
							<li class="uk-visible@s"><a href="#">Grammaire</a></li>
							<% if(user) { %>
							<li class="uk-visible@s">
								<a href="#" data-uk-icon="icon:more"></a>
								<div class="drop-nav uk-dropdown" data-uk-dropdown="mode: click; offset: 20;animation: uk-animation-slide-bottom-small; duration: 150">
									<a class="uk-button uk-button-default uk-width-1-1" href="#modal-full" uk-toggle>Ajouter un mots</a>
									<hr>
									<ul class="uk-nav-default uk-nav-parent-icon" data-uk-nav>
										<li><a href="#"><span class="uk-margin-small-right" data-uk-icon="icon: table"></span>Afficher tous les mots</a></li>
										<li><a href="#"><span class="uk-margin-small-right" data-uk-icon="icon: table"></span>Exporter les mots</a></li>
									</ul>
								</div>
							</li>
							<% }%>
						</ul>
					</div>
				</div>
			</div>
		</header>
		<!--/HEADER-->
		<div class="spacer"></div>
		<!-- modal ajout -->
		<% if(user) { %>
		<div id="modal-full" class="uk-modal-full" uk-modal>
			<div class="uk-modal-dialog">
				<button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
				<div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
					<div class="uk-padding-large">
						<h1>Ajout de mots</h1>
						<form class="uk-form-stacked uk-grid-small" uk-grid>

							<div class="uk-margin uk-width-1-1">
								<label class="uk-form-label" for="form-stacked-text">Aliaso</label>
								<div class="uk-form-controls">
									<input class="uk-input" id="form-stacked-text" type="text" placeholder="Some text...">
								</div>
							</div>

							<div class="uk-margin uk-width-1-1">
								<label class="uk-form-label" for="form-stacked-text">Francais</label>
								<div class="uk-form-controls">
									<input class="uk-input" id="form-stacked-text" type="text" placeholder="Traduction;traduction;traduction">
								</div>
							</div>
							<div class="uk-margin uk-width-1-1">
								<label class="uk-form-label" for="form-stacked-text">Exemple</label>
								<textarea class="uk-textarea" rows="3" placeholder="Une phrases par lignes"></textarea>
							</div>
							<div class="uk-margin uk-width-1-1">
								<label class="uk-form-label" for="form-stacked-text">Description</label>
								<textarea class="uk-textarea" rows="3" placeholder="En francais"></textarea>
							</div>
						</form>
						<legend class="uk-legend">Conjugaison</legend>
						<ul uk-tab>
							<li><a>Present</a></li>
							<li><a>Future</a></li>
						</ul>
						<ul class="uk-switcher uk-margin">
							<li>
								<form class="uk-form-stacked uk-grid" uk-grid>
									<div class=" uk-width-1-4">
										<label class="uk-form-label" for="form-stacked-text">Itch</label>
										<div class="uk-form-controls">
											<input class="uk-input" id="form-stacked-text" type="text" placeholder="Some text...">
										</div>
									</div>

									<div class=" uk-width-1-4">
										<label class="uk-form-label" for="form-stacked-text">Dich</label>
										<div class="uk-form-controls">
											<input class="uk-input" id="form-stacked-text" type="text" placeholder="Some text...">
										</div>
									</div>

									<div class="uk-width-1-4">
										<label class="uk-form-label" for="form-stacked-text">Yot</label>
										<div class="uk-form-controls">
											<input class="uk-input" id="form-stacked-text" type="text" placeholder="Some text...">
										</div>
									</div>

									<div class="uk-width-1-4">
										<label class="uk-form-label" for="form-stacked-text">Nôs</label>
										<div class="uk-form-controls">
											<input class="uk-input" id="form-stacked-text" type="text" placeholder="Some text...">
										</div>
									</div>

									<div class="uk-width-1-4">
										<label class="uk-form-label" for="form-stacked-text">Yat</label>
										<div class="uk-form-controls">
											<input class="uk-input" id="form-stacked-text" type="text" placeholder="Some text...">
										</div>
									</div>

									<div class="uk-width-1-4">
										<label class="uk-form-label" for="form-stacked-text">Nos</label>
										<div class="uk-form-controls">
											<input class="uk-input" id="form-stacked-text" type="text" placeholder="Some text...">
										</div>
									</div>

									<div class="uk-width-1-4">
										<label class="uk-form-label" for="form-stacked-text">Vos</label>
										<div class="uk-form-controls">
											<input class="uk-input" id="form-stacked-text" type="text" placeholder="Some text...">
										</div>
									</div>

									<div class="uk-width-1-4">
										<label class="uk-form-label" for="form-stacked-text">Yos/Yas</label>
										<div class="uk-form-controls">
											<input class="uk-input" id="form-stacked-text" type="text" placeholder="Some text...">
										</div>
									</div>
								</form>
							</li>
						</ul>
					</form>
					<a class="uk-button uk-button-default uk-width-1-1" onclick="addworld();">Ajouter</a>
				</div>
				<div class="uk-padding-large">
					<h1>Google Translate</h1>
					<form class="uk-form-stacked uk-grid" uk-grid>
						<div class="uk-width-3-4">
							<label class="uk-form-label" for="form-stacked-text">Mots a traduire</label>
							<div class="uk-form-controls">
								<input id="mtrad" class="uk-input" id="form-stacked-text" type="text" placeholder="Some text...">
							</div>
						</div>
						<div class="">
							<label  class="uk-form-label" style="color: white;" for="form-stacked-text">. </label>
							<a class="uk-button uk-button-default uk-width-1-1" onclick="trad();">Go</a>
						</div>
					</form>
					<table  class="uk-table">
						<tbody id="mdivtrad" >
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<% }%>


	<!--CARDS WRAPPER-->
	<section id="domwrap" class="uk-section uk-section-small uk-section-default uk-padding-remove-bottom">
		<div class="uk-container uk-container-expand uk-margin-large-bottom">
				<!-- <ul class="uk-subnav uk-subnav-pill">
					<li id="fall" class="uk-active"><a href="#">Show All</a></li>
					<li id="fverbes" ><a  href="#">Verbes</a></li>
					<li id="fmots"><a  href="#">Mots</a></li>
				</ul> -->
				<div class="uk-grid uk-grid-medium uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l  uk-child-width-1-6@xl uk-grid-match" data-uk-grid="masonry: true">


					<!-- card -->
					<% for(var i=0; i<mots.length; i++) { %>
					<% if(mots[i].conjugaison.present.length != 0) { %>
					<div class="verbes-card">
						<% } else { %>
						<div class="mots-card">
							<% } %>
							<div class="uk-card uk-card-small uk-card-default">
								<div class="uk-card-header">
									<div class="uk-grid uk-grid-small uk-text-small" data-uk-grid>
										<div class="uk-width-expand">
											<span class="cat-txt"><%= mots[i].al %></span>
										</div>
									</div>
								</div>
								<div class="uk-card-body">
									<h6 class="uk-margin-small-bottom uk-margin-remove-adjacent"><%= mots[i].traduction.fr.join(" \/ ") %></h6>
									<% if(mots[i].desc.fr) { %>
									<p class="uk-text-small uk-text-muted"><%= mots[i].desc.fr %></p>
									<% } %>
									<% if(mots[i].desc.fr && mots[i].exemple.length != 0) { %>
									<hr>
									<% } %>
									<% if(mots[i].exemple.length != 0) { %>
									<% for(var y=0; y<mots[i].exemple.length; y++) { %>
									<p class="uk-text-small"><%= mots[i].exemple[y] %></p>
									<% } %>
									<% } %>
								</div>
								<% if(mots[i].conjugaison.present.length != 0) { %>
								<div class="uk-card-footer">
									<div class="uk-grid uk-grid-small  uk-flex uk-flex-middle" data-uk-grid>
										<div class="uk-width-expand uk-text-small">
											<button class="nomarged uk-align-center uk-button uk-button-default" type="button" uk-toggle="target: #<%= mots[i].al %>modal">Afficher les conjugaison</button>
											<div id="<%= mots[i].al %>modal" uk-modal>
												<div class="uk-modal-dialog uk-modal-body">
													<h2 class="uk-modal-title uk-text-center uk-text-capitalize"><%= mots[i].al %></h2>
													<ul uk-tab>
														<li><a>Present</a></li>
														<!-- <li><a>Future</a></li> -->
													</ul>
													<ul class="uk-switcher uk-margin">
														<li>
															<table class="uk-table uk-table-small">
																<tbody>
																	<tr>
																		<td>itch</td>
																		<td><%= mots[i].conjugaison.present[0] %></td>
																	</tr>
																	<tr>
																		<td>dich</td>
																		<td><%= mots[i].conjugaison.present[1] %></td>
																	</tr>
																	<tr>
																		<td>yot</td>
																		<td><%= mots[i].conjugaison.present[2] %></td>
																	</tr>
																	<tr>
																		<td>nôs</td>
																		<td><%= mots[i].conjugaison.present[3] %></td>
																	</tr>
																	<tr>
																		<td>yat</td>
																		<td><%= mots[i].conjugaison.present[4] %></td>
																	</tr>
																	<tr>
																		<td>nos</td>
																		<td><%= mots[i].conjugaison.present[5] %></td>
																	</tr>
																	<tr>
																		<td>vos</td>
																		<td><%= mots[i].conjugaison.present[6] %></td>
																	</tr>
																	<tr>
																		<td>yos/yas</td>
																		<td><%= mots[i].conjugaison.present[7] %></td>
																	</tr>
																</tbody>
															</table>
														</li>
													</div>
												</div>


											</div>	
										</div>
									</div>
									<% } %>
								</div>
							</div>
							<!-- /card -->
							<% } %>
						</div>
					</div>
				</section>
				<!--/CARDS WRAPPER-->
				<!--FOOTER-->
				<footer id="site-foot" class="uk-section uk-section-secondary uk-section-xsmall">
					<div class="uk-container uk-text-small uk-text-center">
					Created by Dracks</a>
				</div>
			</footer>
			<!--/FOOTER-->
</div>
<!-- JS FILES -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.11/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.11/js/uikit-icons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/dojo/1.13.0/dojo/dojo.js"></script>
<script src="js/index/index.js"></script>

</body>
</html>